.basemap-gis {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

.map-container {
  flex-grow: 1;
  width: 100%;
  // Remove any height declaration here
}

.search-bar {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: flex;
  
  input {
    padding: 5px;
    font-size: 12px;
    border: none;
    border-radius: 4px 0 0 4px;
    width: 150px;
  }
  
  button {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    
    &:hover {
      background-color: #2980b9;
    }
  }
}

.basemap-controls {
  position: absolute;
  bottom: 40px; // Increased from 20px to move it up
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.basemap-options {
  display: flex;
  flex-direction: row;
  background-color: rgba(44, 62, 80, 0.8);
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 10px; // Add space between options and export button
}

.basemap-option {
  margin: 0 3px;
  padding: 4px 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ecf0f1;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &.active {
    background-color: #3498db;
    color: #fff;
  }
}

// Add this new class for the export button
.export-button {
  margin: 0;
  padding: 8px 16px;
  border: none;
  background-color: #3498db;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;

  &:hover {
    background-color: #2980b9;
  }
}